extends ../../../../templates/admin

block content
        link(rel='stylesheet', type='text/css', href='/assets/css/inventory.css')
        script(type='text/javascript', src='/assets/js/jquery.min.js')
        link(rel='stylesheet', type='text/css', href='/assets/js/bootstrap.min.css')
        script(type='text/javascript', src='/assets/js/bootstrap.min.js')
        br
        .row
            .col-sm-12
                .card(style="width:100%; min-width:300px;")
                    .card-header
                        h4.subtitle(style="padding:2px;") No. Of Available Products
                    .card-block.table-border-style
                        .table-responsive(style="width:100%; min-width:200px;")
                                table.table
                                    thead
                                        tr
                                            th Product Id
                                            th Product Name
                                            th Unit
                                            th Bar Quantity
                                            th Storage Quantity
                                            th Retail Price
                                    each del in reports   
                                        tr
                                            th #{del.intProdId}
                                            td #{del.strProdName}
                                            td #{del.strUnit}
                                            td #{del.intBarQty}
                                            td #{del.intStorageQty}
                                            td Php #{del.fltRetailPrc}
        br
        .row
            .col-sm-12
                .card(style="width:100%; min-width:300px;")
                    .card-header
                        h4.subtitle(style="padding:2px;") Deleted Products
                    .card-block.table-border-style
                        .table-responsive(style="width:100%; min-width:200px;")
                                table.table
                                     thead
                                        tr
                                            th Product Id
                                            th Product Name
                                            th Unit
                                            th Bar Quantity
                                            th Storage Quantity
                                            th Retail Price
                                            th Actions
                                            th
                                     each dels in deletes   
                                        tr
                                            th #{dels.intProdId}
                                            td #{dels.strProdName}
                                            td #{dels.strUnit}
                                            td #{dels.intBarQty}
                                            td #{dels.intStorageQty}
                                            td Php #{dels.fltRetailPrc}
                                            td
                                                if dels.intStat == 0
                                                        button.btn.btn-danger(type="button" , disabled) Deleted
                                            td    
                                                div#buttons
                                                    if dels.intStat == 1
                                                        form(method="POST"  action="/admin/delete")
                                                            input#name.form-control(type='number', value=dels.intProdId name="id" required, hidden)
                                                            button.btn.btn-danger(type='submit') Delete
                                                    if dels.intStat == 0
                                                        form(method="POST"  action="/admin/revert")
                                                            input#name.form-control(type='number', value=dels.intProdId name="id" required, hidden)
                                                            button.btn.btn-info(type='submit') Revert   
        br
        .row
            .col-sm-12
                .card(style="width:100%; min-width:300px;")
                    .card-header
                        h4.subtitle(style="padding:2px;") No. of Available Staffs
                    .card-block.table-border-style
                        .table-responsive(style="width:100%; min-width:200px;")
                            table.table
                                thead
                                    tr
                                        th Staff Name
                                        th Status
                                each avail in available  
                                    tr
                                        td #{avail.strLname}  #{avail.strFname}
                                        td #{avail.strStatus}
                                            